* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: #954F95;
    color: #F7F9F6;
  }
  
  #container {
    width: 1500px;
    margin: 0 auto;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px;
  }

  #tittle {
    font-family: "Modak";
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 300;
  }
  
  #logo {
    width: 100px;
  }
  
  /* Scores */
  
  #score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0;
  }

  #player-score-title, #computer-score-title {
    box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
    background-color: #F7F9F6;
    color: #954F95;
  }
  
  #player-score-title, #computer-score-title, #versus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin: 20px;
    width: 250px;
    height: 300px;
    border-radius: 16px;
    letter-spacing: 2px;
    border: transparent;
    
  }


  #game-rounds{
    font-size: 32px;
    font-family: "Roboto";
  }

  #current-round {
    font-size: 32px;
    font-size: "Roboto";
  }

  #versus-title {
    font-size: 128px;
    font-family: "Roboto";
    text-align: center;
  }

 
  
  #player-score-container, #computer-score-container {
    width: 350px;
    height: 45%;
    text-align: center;
    padding: 16px 0;
    font-size: 24px;
  }

  #player-rps-score, #computer-rps-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 0 16px;
    font-size: 24px;
    font-family: "Roboto";
    width: 350px;
    height: 45%;
    
  }
  
  
  /* Round results */
  
  #choice-result {
    display: flex;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }

  #rounds {
    width: 100px;
    display: flex;

  }

  #round-results {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #round-result-content, #round-results{
    font-size: 32px;
    font-family: "Roboto";
    text-align: center;
  }

  .result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-size: "Roboto";
    text-align: center;
  }
  
  #player-choice-result, #round-results, #computer-choice-result {
    margin: 20px;
  }
  
  #player-choice-icon, #computer-choice-icon {
    width: 150px;
  }
  
  /* game result */

  #game-result-container{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    font-size:32px;
    font-family: "Roboto";
  }

  #final-score-content {
    padding-top: 16px;
  }

  #reset {
    font-size: 24px;
    letter-spacing: 1px;
    font-family: "Roboto";
    font-weight: bold;
    padding: 8px;
    margin-top: 24px;
    width: 200px;
    border-radius: 8px;
  }

  
  h3, h4 {
    font-family: "Roboto";
    font-size: 32px; 
  }

  #computer-player-container {
    display: flex;
    justify-content: space-around;
    padding: 48px 16px 16px;
  }

  #final-score-content-container {
    display: flex;
    flex-direction: column;
  }

  #logo-2{
    padding: 0 144px;
    width: 200px;
  }

  /* reset */

  #resetBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }


  /* Choices */
  
  #choice {
    justify-content: center;
    align-items: center;
    gap: 148px;
    margin: 0 auto;
    padding: 16px;
  }

  #text {
    display: flex;
    justify-content:center;
    
  }

  #choice-content {
    font-family: "Roboto";
    font-size: 32px;
  }

  #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 24px;
  }

  
  /* #rock, #paper, #scissors {
    margin: 20px;
    
  } */
  
  #rock-icon, #paper-icon, #scissors-icon {
    width: 100px;
  }

  .choice-click {
    border: 1px solid transparent;
    background-color: white;
    padding: 24px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: 24px;
    letter-spacing: 1px;
    font-family: "modak";
    color:#954F95;
    box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
  }

  

  .choice-click:hover {
    background-color: #f7f9f680;
    
    
  }

  .choice-click:active {
    background-color: #954F95;
    color: #F7F9F6;
    
  }

  .dont-show {
    display: none;
  }
 
  #reset {
    border: none;
    color: #954F95;
    font-family: "roboto";
  }

  #reset:hover {
    background-color: #f7f9f680;
  }

  #reset:active {
    background-color: #954F95;
    color: #F7F9F6;
    border:  1px solid #F7F9F6;
  }
